.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    height: 400px;
    width: 250px;
    margin-bottom: 30px;
}

.image{
    height: 270px;
    width: 220px;
    margin: 15px 15px;
    border: 1px solid black;
    background: url(../../images/notfound.png) no-repeat center center;
    background-size: cover;
}

.name{
    font-family: fantasy;
    display: flex;
    height: 70px;
    width: 220;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 15px 15px;
}

.card:hover{
    
    -webkit-box-shadow: 0px 0px 20px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 9px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 9px rgba(0,0,0,0.75);
}