.charCreation{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.section{
  border: 1px solid black;
  margin: 40px;
  width: 80%;
  height: 100%;
  margin-right: 10%;
  margin-left: 10%;
  background-color: #ebd78d;
}

.card{
  margin-right: 4%;
  margin-left: 4%;
}

